@import "./../fonts/Gilroy/stylesheet.css";
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&family=Inter:slnt@-10..0&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,600&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --text-color: #1e1e1e;
  --text-muted: #8d8d8d;
  --text-cart-blue: #0d1b39;
  --accent: #e58411;
  --header-text-color: #ffffff;
  --footer-text-color: #ffffff;
  --footer-accent: #f6973f;
  --footer-bg: #2d2f33;
  --ui-orange: #e58411;
  --ui-biruza: #00d6c9;
  --ui-gray: #7c7c7c;
  --ui-blue: #0d1b39;
  --font-main: "Gilroy", sans-serif;
  --font-cards: "Inter", sans-serif;
  --font-footer-accent: "DM Sans", sans-serif;
}

html,
body {
  font-family: var(--font-main);
  color: var(--text-color);
}

.container {
  max-width: 1310px;
  padding: 0 15px;
}

.header {
  position: relative;
  padding-top: 20px;
  background-color: var(--footer-bg);
  background-image: url("./../img/header/header-bg.jpg");
  background-size: cover;
  aspect-ratio: 1440/1084;
  color: var(--header-text-color);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .header {
    background-image: url("./../img/header/header-bg@2x.jpg");
  }
}
.header a {
  color: var(--header-text-color);
}

.header__nav {
  margin-bottom: 86px;
}

.header__content {
  text-align: center;
}

.header__title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 80px;
  line-height: 130%;
  letter-spacing: -0.01em;
  text-transform: capitalize;
}

.header__content p {
  margin: 0 auto;
  max-width: 606px;
  font-size: 24px;
  line-height: 160%;
  opacity: 0.8;
}

.header__search {
  margin: 45px auto 0;
}

.header__dot-sofa {
  position: absolute;
  left: 21.1428571429%;
  top: 64.0186915888%;
}

.header__dot-vase {
  position: absolute;
  left: 8.1428571429%;
  top: 70.4672897196%;
}

.header__dot-item {
  position: absolute;
  left: 56.25%;
  top: 72.6014760148%;
}

.header__dot-wall {
  position: absolute;
  right: 3.1944444444%;
  top: 75.7380073801%;
}

.nav {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  gap: 20px;
}

.nav__logo {
  align-self: center;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}

.nav-list {
  align-self: center;
  justify-self: center;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  gap: 65px;
  justify-content: center;
  align-items: center;
}

.cart {
  align-self: center;
  justify-self: end;
  position: relative;
}

.cart__count {
  position: absolute;
  top: 3px;
  right: -6px;
  display: inline-block;
  height: 25px;
  background-color: var(--accent);
  border-radius: 40px;
  padding: 0 6px;
  line-height: 25px;
  font-weight: 700;
}

.search-form {
  display: flex;
  max-width: 344px;
  height: 56px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 20px;
  background: rgba(255, 255, 255, 0.15);
  border: 0.861538px solid rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 42px;
}

.search-form__input {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #fff;
}
.search-form__input::-moz-placeholder {
  color: #fff;
  opacity: 0.6;
}
.search-form__input::placeholder {
  color: #fff;
  opacity: 0.6;
}

.search-form__btn {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background: var(--accent);
}

.info-dot {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.info-dot .info-dot__circle {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  pointer-events: none;
}
.info-dot .info-dot__radius {
  width: 32px;
  height: 32px;
  border: 0.86px solid #fff;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}/*# sourceMappingURL=main.css.map */