.nav-list {
  align-self: center;
  justify-self: center;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  gap: 65px;
  justify-content: center;
  align-items: center;
}
.nav-list__item {
}
.nav-list__link {
}
