.search-form {
  display: flex;
  max-width: 344px;
  height: 56px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 20px;

  background: rgba(255, 255, 255, 0.15);
  border: 0.861538px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 42px;
}
.search-form__input {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  color: #fff;
  &::placeholder {
    color: #fff;
    opacity: 0.6;
  }
}
.search-form__btn {
  width: 40px;
  height: 40px;
  border-radius: 24px;
  background: var(--accent);
}
